$primary: #f38607;

.main,
.guidesComponent,
.spotifyGuidePage,
.youtubeGuidePage,
.helpPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10%;
  /* min-height: 100vh; */

  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-family: 'Kalnia';
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 2;
  }

  li {
    line-height: 2;
    margin: 5px 0;
  }

  a {
    color: $primary;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 2;
    text-decoration: none;

    &:focus,
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.homeGuides {
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.homeForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 30px;

  p {
    font-size: 14px;
  }
}

.footer {
  background-color: $primary;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;

  &Socials {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.formSubmitting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: grey;
  border: 2px solid #000;
  box-shadow: 24;
}

.modalCloseButton {
  position: absolute;
  left: 90%;
  bottom: 100%;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.coffeeButton {
  display: flex !important;
  justify-content: center !important;
}
